/*
* File: style.css
* Author: Sánta Renáta Diána
* Copyright: 2022, Sánta Renáta Diána
* Group: Szoft II N
* Date: 2021-10-26
* Github: https://github.com/SantaRenata/
* Licenc: GNU GPL
*/

.container{
    padding: 15px;
    background-color: blanchedalmond;
    border-radius: 20px;
    border-style: solid;
    border-color: darksalmon;
}

label{
    width: 70px;
}

h1{
    text-decoration: underline;
}

footer{
    background-color: bisque;
    padding: 2px;
    margin: 1% 16%;
    border-style: solid;
    border-color: burlywood;
}